@import url("resource:///org/gnome/theme/gnome-shell.css");
#panel {
  background-color: rgba(20,20,20, 1.0);
  /* height: 32px; */
  /* font-size: 16px; */
  /* border-radius: 12px; */
}

/* #panelBox {
  padding: 0.4em 0.8em;
  background: transparent;
} */

#panel .panel-button {
  color: #e9e9ed;
  /* color: #e9e9ed; */
}

/* workspaces indicator in activities button (45+) */
#panel .workspace-dot {
	background-color: rgba(233, 233, 237, 1);
	/* border-radius: 99px; */
}

